<div class="container">

<h1>Edit My Comment</h1>

<div class="item">

<%= render 'form' %>

</div>

<br>

<%= link_to 'Back', lady_doctor_posts_show_path(male_id: @male.id, id: @lady_doctor_post.id) %> 

</div>