<li>
  <%= profile_image_for(lady_doctor) %>
  <%= link_to lady_doctor.name, lady_doctor %>
  <span id="lady_doctor_<%= lady_doctor.id %>" class="follow-wrapper">
    <!--フォローボタンの実装-->
  </span>
</li>